
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #1E1E1E;
}

.b-card img{
    margin: none;
    width: 100%;
    height: auto;
    filter: brightness(0.7);
}

.b-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-h5{
    line-height: 0.4;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 400;
}

.b-h2  {
    line-height: 0.4;
    text-align: center;
    color: white;
    font-size: 4.5em;
}

.offer{
    max-width: 802px;
    margin: 0 auto;
    margin-top: 100px;
}
.offer-text{
    text-align: center;
}

.text-color{
    color: #FF0000;
}
main h2{
    font-size: 3em;
    line-height: 0.5;
}